{% extends "base.html" %}

{% block content %}
<div>
	<h1 class="greeting" style="color:purple">Time to setup the task!!</h1>
	<h4 style="text-align:left;color:maroon"><strong>You can provide the details of the task</strong></h4><br><br>
	<div><form action="{{url_for('todo.addnewtopic')}}" method="POST">
		<label class="form-label edit_title" style="float:left; font-weight:700;color:purple" for="taskname">Title:</label><br><br>
		<input class="form-control" style="width:50%" type="text" id="taskname" name="taskname"><br><br>
		<label class="form-label edit_titile" style="float:left; font-weight:700;color:purple" for="taskdescription">Description:</label><br><br>
		<textarea rows="10" id="taskdescription" class="float-control" style="height:350px; width:100%;" name="taskdescription"></textarea><br><br>
		<label class="form-label edit_title" style="float:left; font-weight:700;color:purple" for="deadline">Deadline date:</label><br><br>
		<input class="form-control" type="date" style="width:200px" id="deadline" name="deadline"><br><br>
		<!--<label class="form-label edit_title" style="float:left; font-weight:700;color:purple" for="deadline_time">Time:</label>-->
		<!--<input class="form-control" type="time" style="width:200px" id="deadline_time" name="deadline_time"><br><br>-->
		<span style="display:block; float:right"><button type="submit" class="btn btn-primary">Add the task</button></form>
		<form style="display:inline-block" action="{{url_for('todo.dashboard')}}">
			<button type="submit" class="btn btn-primary">Cancel</button>
		</form>
		</span>
	</div>
</div>
{%endblock%}



