{% extends "base.html" %}

{% block content %}
	
	<div>
		<span class="greeting">
			<h1 style="color:purple"> Hello {{name}}!!! &#128521 Here are your Tasks.</h1>
		</span>
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
    		<div class="notification is-{{category}}">
        		{{ message }}
    		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<form action="{{url_for('todo.addnewtopic')}}">
			<button class="btn btn-primary btn-lg" style="float:right;background-color:#4CAF50;font-size:16px" type="submit">Add new task</button>
		</form>
	<div style="text-align:left" class="info">
		<span><h4 style="color:purple">{{name}}, you have <br> &emsp; {{today}} jobs pending today<br> &emsp; {{thisweek}} jobs pending this week<br> &emsp; {{overdue}} jobs overdue</h4></span>
	</div>
	</div>
	
	<div class="table-responsive">
		<table class="table">
			<thread class="thead-dark">
				<th> TASK NAME </th>
				<th style="width:400px;"> TASK DESCRIPTION </th>		
				<th> DEADLINE </th>
				<th> STATUS </th>
				<th></th>
				<th></th>
				<th></th>
			</thread>
			<tbody>
			{%for tid,taskname,taskdescription,deadline,status in tasks%}	
			<tr>
				<td class="cell_{{status}}"> {{taskname}}</td>
				<td <div class="cell_{{status}}_description"> {{taskdescription}}</div></td>
				<td class="cell_{{status}}"> {{deadline}}</td>
				<!--<td class="cell_{{status}}"> {{deadline_time}}</td>-->
				<td class="cell_{{status}}"> {{status}}</td>
				<td><form action="{{url_for('todo.edit',tid=tid)}}">
					<button class="btn btn-warning btn-sm" type="submit">Edit Task</button>
					</form></td>
				<td><form action="{{url_for('todo.delete',tid=tid)}}">
					<button class="btn btn-sm btn-danger" type="submit">Delete Task</button>
					</form></td
			</tr>
			{%endfor%}
			</tbody>
		</table>
	</div>
	<div> 	
		<div style="text-align:center;display:block;font-weight:700;color:purple;font-size:20px">Filter the tasks by</div>
		<br>
		<div style=display:block;>
			<form action="{{url_for('todo.sort')}}" method="POST">
				<div style="display:inline-block;float:center;color:purple">
				<label class="form-label"  for="sd">Start date:</label>
				<input type="date" id="sd" name="sd">
				<label class="form-label"  for="ed">End date:</label>
				<input type="date" id="ed" name="ed"><br><br>
				<!--<label class="form-label" for="st">Start Time of the Day:</label>
				<input type="time" id="st" name="st">
				<label class="form-label" for="et">End Time of the Day:</label>
				<input type="time" id="et" name="et" ><br><br>-->
				<button class="btn btn-primary btn-lg" style="margin-top:20px; float:center;background-color:#4CAF50;font-size:16px;" type="submit">Filter the tasks</button>
			</form>
		</div>
	</div>
	</div>
</body>
{%endblock%}
