{% extends "base.html" %}

{% block content %}

	<span>
		<h1> Hello {{name}}!! Here's your List</h1>
	</span>
	<a href="{{url_for('todo.addnewtopic')}}"><button type="submit">Add new task</button></a>
	<div class="table-responsive">
		<table class="table">
			<tr>
				<th> TASK NAME
				<th> TASK DESCRIPTION		
				<th> DEADLINE
				<th> TIME
				<th> STATUS
				
			</tr>
			{%for tid,taskname,taskdescription,deadline,deadline_time,status in tasks%}	
			<tr>
				<td> {{taskname}}
				<td> {{taskdescription}}
				<td> {{deadline}}
				<td> {{deadline_time}}
				<td> {{status}}
				<td> <a href="{{url_for('todo.edit',tid=tid)}}">Edit</a>
				<td> <a href="{{url_for('todo.delete',tid=tid)}}">Delete Task</a>
			</tr>
			{%endfor%}
		</table>
	</div>
	<form action="{{url_for('todo.sort')}}" method="POST">
		<label for="sd">Start date:</label>
		<input type="date" id="sd" name="sd">
		<label for="ed">End date:</label>
		<input type="date" id="ed" name="ed"><br><br>
		<label for="st">Start Time of the Day:</label>
		<input type="time" id="st" name="st">
		<label for="et">End Time of the Day:</label>
		<input type="time" id="et" name="et" ><br><br>
		<button type="submit">Filter the tasks</button>
	</form>
	</div>
	
</body>
{%endblock%}
